<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>

    <% registerations.forEach(function (registeration){ %>
    <dl>
    <dt>Tunnus</dt>
        <dd><%=registeration.username %></dd>
        <% registeration.persons.forEach(function(person){ %>
        <dl>
            <dt>Nimi</dt>
            <dd><%= person.name%></dd>
            <dt>Läsnä</dt>
            <dd><%= person.attending%></dd>
            <dt>Allergiat</dt>
            <dd><%= person.allergies%></dd>
        </dl>

        <%}) %>
        <dt>
            Lisätietoja
        </dt>
        <dd><%= registeration.additionalInfo%></dd>
    </dl>
    <%}) %>

    <a class="pure-button" href="registerations/new">Uusi rekisteröityminen</a>

</body>
</html>
