<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>

<form class="pure-form pure-form-aligned"  method="post">
    <fieldset>
        <% persons.forEach(function (person, index){ %>
            <div class="pure-control-group">
                <label>Nimi</label>
                <input type="text" value="<%= person.name %>" readonly name="name-<%= index%>">

                <label class="pure-radio">L채sn채</label>
                <input type="radio" name="attending-<%= index%>" value="true" <% if( person.attending == true ){%> checked <%}%> >Kyll채
                <input type="radio" name="attending-<%= index%>" value="false"<% if( person.attending == false ){%> checked <%}%>>Ei

                <label>Allergiat</label>
                <input type="text" name="allergies-<%= index%>" value="<%= person.allergies %>">
            </div>
        <%}) %>
    </fieldset>
    <label>Lis채tietoja</label>
    <textarea name="additionalInfo"><%= additionalInfo %></textarea>
    <input type="hidden" name="amount" value="<%= persons.length%>">
    <input type="submit" value="Tallenna">
</form>


</body>
</html>
