<!DOCTYPE html>
<html>
<%- include('head')-%>
<body>


<div class="container pure-g">

    <%- include('header') -%>



    <%- include('nav') -%>


    <div class="pure-u-1">
        <% gifts.forEach(function(gift) {%>
            <form class="pure-form" method="post">
                <label><%= gift.gift %></label>
                <% if (gift.giver) {%>
                    Varattu
                <% } else {%>
                    <input type="hidden" name="gift" value="<%= gift.gift %>">
                    <button type="submit" class="pure-button pure-button-primary">Varaa</button>
                <% } %>
            </form>
        <% }) %>
    </div>



</div>

</body>
</html>
